<a href="https://colab.research.google.com/github/FengfengZ93/Find_job_Fengfeng_Asmae_David/blob/Fengfeng/Find_Job.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find Your job in AI

In [235]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [244]:
import pandas as pd
import json
import datetime as dt

In [236]:
# Opening JSON file


df = pd.read_json('/content/drive/MyDrive/Formation_IA/data.json')

In [237]:
df.dtypes

Intitulé du poste      object
Date de publication    object
lieu                   object
competences            object
Type de poste          object
dtype: object

In [238]:
df.shape

(230, 5)

In [239]:
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste
0,[\nData Analyst - Publicité\n],\npostée il y a 21 jours\n,[\nParis\n],"[\nsql\n, \nt-sql\n, \noutils\n]","[\n, \n, Sept Lieues SAS, \n, Cabinet de recru..."
1,[Data analyst - H/F\n],\npostée il y a 1 mois\n,"[\nParis, La Défense\n]","[\nsupport\n, \noutils\n, \nagile\n, \ndesign\...","[\n, \n, EDF France, \n, Client final, \n, \n,..."
2,[Customer Data Analyst (H/F)\n],\npostée il y a 27 jours\n,[\nParis\n],"[\ncrm\n, \ndata quality\n, \nsql\n, \nsas\n, ...","[\n, \n, Hermès, \n, Client final, \n, \n, \nC..."
3,[Master Data Analyst H/F\n],\npostée il y a 21 jours\n,[\nMoussy-le-Vieux\n],"[\nsi\n, \nsupport\n, \nsap\n]","[\n, \n, TEREOS, \n, Client final, \n, \n, \nC..."
4,[Portfolio Data Analyst H/F\n],\npostée il y a 3 jours\n,[\nFrance\n],"[\noutils\n, \nsupport\n, \ndecisionnel\n, \ns...","[\n, \n, Safran-Group, \n, Client final, \n, \..."
...,...,...,...,...,...
225,[SAP Fiori Developer (H/F)\n],\npostée il y a 27 jours\n,[\nSaint-Ouen\n],"[\nsap\n, \nabap\n, \nprogiciel\n, \nsystème\n...","[\n, \n, Groupe ENGIE, \n, Client final, \n, \..."
226,[ENGIE Digital - Architecte Données (H/F)\n],\npostée il y a 3 jours\n,[\nParis\n],"[\ndigital\n, \noutils\n, \nsecurité\n, \nsécu...","[\n, \n, Groupe ENGIE, \n, Client final, \n, \..."
227,[Quality Assurance - Lead QA - Lead Acceptance...,\npostée il y a 2 heures\n,[\nBoulogne-Billancourt\n],"[\ntest\n, \nserveur\n, \njquery\n, \nmobile\n...","[\n, \n, Francaise des jeux, \n, Client final,..."
228,[\nDATA SCIENTIST\n],\npostée il y a 16 jours\n,"[\nNEUILLY SUR SEINE\n, \n38.000,00 € - 50.000...","[\nnosql\n, \nunix\n, \njava\n, \nmachine lear...","[\n, \n, BEEZEN, \n, ESN, \n, \n, \nCDI - temp..."
229,[Datascientist (H/F)\n],\npostée il y a 3 jours\n,[\nSaint-Ouen\n],"[\nbig data\n, \nsupport\n, \npython\n, \nrése...","[\n, \n, Groupe ENGIE, \n, Client final, \n, \..."

In [240]:
#Remove the '/n'
df = df.replace('\n','', regex=True)
df['Intitulé du poste'] = [item[0].replace('\n', '') for item in df['Intitulé du poste']]
df['lieu'] = [', '.join(item).replace('\n', '') for item in df['lieu']]
df['competences'] = [' '.join(item).replace('\n', '').replace(' ', ', ') for item in df['competences']]
df['Type de poste'] = [''.join(item).replace('\n', ', ').replace(', , ', '').strip() for item in df['Type de poste']]

df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste
0,Data Analyst - Publicité,postée il y a 21 jours,Paris,"sql, t-sql, outils","Sept Lieues SAS, Cabinet de recrutement, CDI -..."
1,Data analyst - H/F,postée il y a 1 mois,"Paris, La Défense","support, outils, agile, design, big, data","EDF France, Client final, CDI - temps plein,"
2,Customer Data Analyst (H/F),postée il y a 27 jours,Paris,"crm, data, quality, sql, sas, python","Hermès, Client final, CDI - temps plein,"
3,Master Data Analyst H/F,postée il y a 21 jours,Moussy-le-Vieux,"si, support, sap","TEREOS, Client final, CDI - temps plein,"
4,Portfolio Data Analyst H/F,postée il y a 3 jours,France,"outils, support, decisionnel, sql, test","Safran-Group, Client final, CDI - temps plein,"
...,...,...,...,...,...
225,SAP Fiori Developer (H/F),postée il y a 27 jours,Saint-Ouen,"sap, abap, progiciel, système, support","Groupe ENGIE, Client final, CDI - temps plein,"
226,ENGIE Digital - Architecte Données (H/F),postée il y a 3 jours,Paris,"digital, outils, securité, sécurité, t-sql","Groupe ENGIE, Client final, CDI - temps plein,"
227,Quality Assurance - Lead QA - Lead Acceptance H/F,postée il y a 2 heures,Boulogne-Billancourt,"test, serveur, jquery, mobile, tdd","Francaise des jeux, Client final, CDI - temps ..."
228,DATA SCIENTIST,postée il y a 16 jours,"NEUILLY SUR SEINE, 38.000,00 € - 50.000,00 € / an","nosql, unix, java, machine, learning, linux","BEEZEN, ESN, CDI - temps plein,"
229,Datascientist (H/F),postée il y a 3 jours,Saint-Ouen,"big, data, support, python, réseaux, securité","Groupe ENGIE, Client final, CDI - temps plein,"

In [241]:
# Split single column into several columns use ',' delimiter
df[['lieu', 'salary']] = df["lieu"].str.split(",", expand = True, n=1)

df[['min_salary', 'max_salary']] = df["salary"].str.split("-", expand = True, n=1)

df[['comp0','comp1', 'comp2', 'comp3', 'comp4', 'comp5']] = df["competences"].str.split(",", expand = True, n=5)

In [242]:
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,salary,min_salary,max_salary,comp0,comp1,comp2,comp3,comp4,comp5
0,Data Analyst - Publicité,postée il y a 21 jours,Paris,"sql, t-sql, outils","Sept Lieues SAS, Cabinet de recrutement, CDI -...",None,None,None,sql,t-sql,outils,None,None,None
1,Data analyst - H/F,postée il y a 1 mois,Paris,"support, outils, agile, design, big, data","EDF France, Client final, CDI - temps plein,",La Défense,La Défense,None,support,outils,agile,design,big,data
2,Customer Data Analyst (H/F),postée il y a 27 jours,Paris,"crm, data, quality, sql, sas, python","Hermès, Client final, CDI - temps plein,",None,None,None,crm,data,quality,sql,sas,python
3,Master Data Analyst H/F,postée il y a 21 jours,Moussy-le-Vieux,"si, support, sap","TEREOS, Client final, CDI - temps plein,",None,None,None,si,support,sap,None,None,None
4,Portfolio Data Analyst H/F,postée il y a 3 jours,France,"outils, support, decisionnel, sql, test","Safran-Group, Client final, CDI - temps plein,",None,None,None,outils,support,decisionnel,sql,test,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,SAP Fiori Developer (H/F),postée il y a 27 jours,Saint-Ouen,"sap, abap, progiciel, système, support","Groupe ENGIE, Client final, CDI - temps plein,",None,None,None,sap,abap,progiciel,système,support,None
226,ENGIE Digital - Architecte Données (H/F),postée il y a 3 jours,Paris,"digital, outils, securité, sécurité, t-sql","Groupe ENGIE, Client final, CDI - temps plein,",None,None,None,digital,outils,securité,sécurité,t-sql,None
227,Quality Assurance - Lead QA - Lead Acceptance H/F,postée il y a 2 heures,Boulogne-Billancourt,"test, serveur, jquery, mobile, tdd","Francaise des jeux, Client final, CDI - temps ...",None,None,None,test,serveur,jquery,mobile,tdd,None
228,DATA SCIENTIST,postée il y a 16 jours,NEUILLY SUR SEINE,"nosql, unix, java, machine, learning, linux","BEEZEN, ESN, CDI - temps plein,","38.000,00 € - 50.000,00 € / an","38.000,00 €","50.000,00 € / an",nosql,unix,java,machine,learning,linux
229,Datascientist (H/F),postée il y a 3 jours,Saint-Ouen,"big, data, support, python, réseaux, securité","Groupe ENGIE, Client final, CDI - temps plein,",None,None,None,big,data,support,python,réseaux,securité

In [245]:
y = [' '.join(element.split()[4:6]) for element in df['Date de publication']]
len(y)

date0 = dt.date(2023, 3, 15)
dates = []
for item in y:
    dates.append(item)
len(dates)

230